body {
    overflow: hidden;
}


/*win 2*/

.win2-container {
    position: absolute;
}

.win2-corner-hor {
    background-color: red;
}

.win2-corner-ver {
    background-color: red;
}

.win2-border {
    background-color: blue;
}


.win2-content {
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto;
}

.win2-header {
    background-color: greenyellow;
}

.win2-body {
    background-color: lightgray;
}

